
<h4>User info</h4>

<%= form_for(@user) do |f| %>
	<%= f.text_field :name %>
	<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
	<%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
	<%= f.submit "Update User" %>
<% end %>
