<table class="table">
  	<thead>
  		<tr>
  			<th>場所</th>
  			<th>写真</th>
  			<th>題名</th>
  			<th>本文</th>
  			<th>住所</th>
  			<th>高さ</th>
  			<th>幅</th>
  			<th>フェンス</th>
  		</tr>
  	</thead>
  	<tbody>
      <% @posts.each do |post| %>
  		<tr>
  			<td>
  			  <%= link_to post_path(post) do %>
  			    <%= post.location_name %>
  			  <% end %>
  			</td>
  			<td>
  		      <%= link_to post_path(post) do %>
  			    <%= attachment_image_tag post, :image %>
  		      <% end %>
  		    </td>
  			<td><%= post.caption %></td>
  			<td><%= post.explanation %></td>
  			<td><%= post.address %></td>
  			<td><%= post.height %></td>
  			<td><%= post.width %></td>
  			<td><%= post.fence %></td>
  		</tr>
  	  <% end %>
  	</tbody>
</table>